<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h3 class="lead">Daftar Calon Peserta Beasiswa</h3>
      <br>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th class="lead">Nama</th>
            <th class="lead">Alamat</th>
            <th class="lead">Tanggal Lahir</th>
            <th class="lead">Agama</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @scholarship_registrations.each do |scholarship_registration| %>
            <tr>
              <td><%= link_to scholarship_registration.name, scholarship_registration %></td>
              <td><%= scholarship_registration.address %></td>
              <td><%= scholarship_registration.date_of_birth %></td>
              <td><%= scholarship_registration.religion %></td>

              <td><%= link_to 'Edit', edit_scholarship_registration_path(scholarship_registration) %></td>
              <td><%= link_to 'Destroy', scholarship_registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'Daftar Beasiswa', new_scholarship_registration_path, class: "btn btn-success-outline" %>

    </div>
  </div>
</div>
