<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @scholarship_registration.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @scholarship_registration.address %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @scholarship_registration.date_of_birth %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @scholarship_registration.religion %>
</p>

<%= link_to 'Edit', edit_scholarship_registration_path(@scholarship_registration) %> |
<%= link_to 'Back', scholarship_registrations_path %>
