<div class="container">
  <div class="row">
    <h3 class="lead">Daftar Alumni</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Nama</th>
          <th>Alamat</th>
          <th>Tempat, Tanggal Lahir</th>
          <th>Agama</th>
          <th>Jenis Kelamin</th>
          <th>Fakultas</th>
          <th>Jurusan</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @alumnus.each do |alumnu| %>
          <tr>
            <td><%= link_to alumnu.name, alumnu %></td>
            <td><%= alumnu.address %></td>
            <td><%= alumnu.place_of_birth %>&nbsp;<%= alumnu.date_of_birth %></td>
            <td><%= alumnu.religion %></td>
            <td><%= alumnu.gender %></td>
            <td><%= alumnu.faculty %></td>
            <td><%= alumnu.sub_faculty %></td>
            <td><%= link_to 'Edit', edit_alumnu_path(alumnu) %></td>
            <td><%= link_to 'Hapus', alumnu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Daftar Alumni', new_alumnu_path, class: "btn btn-success-outline" %>

  </div>
</div>
